*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open-Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #81868e;
    background: #ffffff;
}
h3 {
    padding-top: 80px;
    font-size: 20px;
    color: #333b46;
}
.description-text {
    max-width: 480px;
    margin: auto;
    margin-top: 40px;
    padding: 0 15px;
}
.classes {
    .border-radius(@radius: 50%) {
        -webkit-border-radius: @radius;
        -moz-border-radius: @radius;
        border-radius: @radius;
    }
    .flex-center {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
 
	   -webkit-box-pack: center;
	   -webkit-justify-content: center;
	   -ms-flex-pack: center;
        justify-content: center;

	   -webkit-box-align: center;
	   -webkit-align-items: center;
	   -ms-flex-align: center;
        align-items: center
    }
}
.button-animation(@color: #f5f5f5) {
    &::before {
        content: '';
        position: absolute;
        left: -130%;
        top: 0;
        z-index: 1;
        display: block;
        width: 120%;
        height: 100%;
        transform: skewX(-30deg);
        background: @color;
        transition: left 0.7s;
    }
    &:hover {
        color: #333b46;
        cursor: pointer;
        &::before {
            left: -5%;
        }    
    }
}
.button-template(@color: #ffffff) {
    position: relative;
    .classes > .flex-center;
    width: 138px;
    height: 35px;
    font-size: 16px;
    color: @color;
    border: 1px solid @color;
    .classes > .border-radius(17px);
    overflow: hidden;
    .button-animation;
    
    div {
        position: absolute;
        z-index: 5;
        
        &:hover {
            color: #333b46;
        } 
    }  
}
.menu {
        text-align: justify;
    }
.logo {
    text-decoration: none;
    font-size: 25px;
}
.menu-icon {
    .menu-line {
        width: 30px;
        height: 2px;
        background: #ffffff;
        
        &:not(:first-child) {
            margin-top: 8px;
        }
    }
}
footer {
    width: 100%;
    padding-bottom: 70px;
    text-align: center;
    
    .logo {
        margin-top: 65px;
        font-size: 25px;
        line-height: 65px;
        color: #323a45;
    } 
}
.menu-container {
    position: relative;
    background-image: url(../assets/images/headerimg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;

    .background-menu {
        background: rgba(0, 0, 0, 0.5);
    }
}
.content-buttons-wrapper {
    display: flex;
    justify-content: center;
            
    .content-button {
        .classes > .flex-center;
        min-width: 53px;
        min-height: 53px;
        margin: 60px 27px;
        background: #81868e;
        .classes > .border-radius(50%);
        transition: background 0.3s;
                    
        &:hover {
            cursor: pointer;
            background: #19bd9a;
        }
    }
}
.head-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 47px 98px 47px 98px;
    box-sizing: border-box;
                
    .logo-item {
        .logo;
    }
    .home-page-menu-item {
        .classes > .flex-center;
        font-weight: 400;
                
        li {
            display: inline-block;
            font-size: 20px;
            list-style-type: none;
              
            a {
                text-decoration: none;
                color: #ffffff;
                
                &:hover {
                    cursor: pointer;
                }
            }
            &:not(:first-child) {
                margin-left: 28px;
            }
            .hello {
                position: relative;
                .classes > .flex-center;
                width: 80px;
                height: 30px;
                border: 1px solid #ffffff;
                .classes > .border-radius(16px);
                overflow: hidden;
                
                div {
                    position: absolute;
                    z-index: 2;
                }
                .button-animation(@color: #19bd9a);
            }
        }
    }
    .mobile-menu {
        display: none;
        
        .menu {
            position: absolute;
            left: 0;
            z-index: 1;
            width: 100vw;
            margin-top: 47px;
            padding: 35px 0;
            text-align: center;
            text-transform: uppercase;
            line-height: 2.3;
            background-image: url(../assets/images/contactbackground.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            
            li {
                font-size: 24px;
                list-style-type: none;
              
                a {
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }
    }
}
header{
    .image-header {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(../assets/images/headerimg.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        .inside{
            .classes > .flex-center;
            -webkit-box-orient: vertical;
	        -webkit-box-direction: normal;
	        -webkit-flex-direction: column;
	        -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            height: 100%;
            color: #ffffff;
            background: rgba(0, 0, 0, 0.5);
             
            .head-wrapper {
                position: absolute;
                top: 0;
            }
            .header-content {
                max-width: 605px;
                margin: auto;
                font-weight: normal;
                text-align: center;
                
                h1 {
                    font-size: 35px;
                    line-height: 1.1;
                }
                .header-text {
                    margin-top: 25px;
                    font-size: 16px;
                    line-height: 25px;
                } 
            } 
        }
        .header-button {
            position: absolute;
            bottom: 76px;
            width: 35px;
            height: 35px;
            margin: 0 auto;
            text-align: center;
            background: #19bd9a;
            .classes > .border-radius(50%);
            
            img {
                margin-top: 43%;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}
.home-page-content {
    margin-top: 80px;
    
    .is-bouncy {
        .classes > .flex-center;
        max-width: 800px;
        margin: auto;
        padding: 0 15px;

        .this-text {
            
        }
        .content-text {
            margin-top: 20px;
        }
        .read-more-button {
            margin-top: 20px;
            .button-template(@color: #333b46);
            color: #333b46;
        }
        h3 {
            padding: 0 0 0 3px;
        }
        .home-page-content-img {
            padding-left: 40px;
        }
    }
    .bouncy-details {
        margin-top: 40px;
        padding-bottom: 115px;
        text-align: center;
        background: #f3f3f3;

        .text-wrapper {
            max-width: 1200px;
            padding: 0 15px;
            margin: auto;
            text-align: left;
            
            .creative-text {
                display: flex;
                margin-top: 20px;
                
                .right-text {
                    padding-left: 40px;
                }
            }
            span {
                color: #19bd9a;
            }
        }
    }
    .featured-projects {
        padding-bottom: 63px;
        text-align: center;
    }
    .images {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 320px;
        
        div {
            width: 25%;
            overflow: hidden;
        }
        div:nth-child(1) {
            width: 50%;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .submit-block {
        padding: 47px 15px;
        color: #ffffff;
        background-image: url(../assets/images/backgroundImg.jpg);
        
        .submit-block-content {
            .classes > .flex-center;
            justify-content: space-between;
            max-width: 1000px;
            margin: auto;
            
            .submit-block-text {
                font-size: 20px;
                padding-right: 40px;
            }
            .button {
                font-size: 16px;
                .button-template();
            }  
        } 
    }
}
.services-container {
    .services-head {
        padding-bottom: 60px;
        text-align: center;
    }
    .design {
        display: flex;
        padding: 0 168px;
        box-sizing: border-box;
        
        .content-buttons-wrapper {
            display: block;
            .content-button-item {
                .classes > .flex-center;
                justify-content: flex-start;
                
                .content-button {
                    margin: 16px 0;
                }
                .content-button-text {
                    margin-left: 20px;
                    
                    span {
                    color: #19bd9a;
                    }
                } 
            } 
        }
    }
    .team-quotes {
        position: relative;
        margin-top: 137px;
        padding: 0 102px 100px;
        color: #b2b3b3;
        background-image: url(../assets/images/impressedbackground.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-sizing: border-box;
        
        .quotes-text-container {
            .impressed {
                padding-top: 77px;
                font-size: 20px;
                color: #f3f3f3;
            }
            .text {
                max-width: 600px;
                padding-top: 35px;
            
                span {
                    color: #19bd9a;
                }
            }
        }
        .quotes-img-conteiner {
            position: absolute;
            right: 0;
            margin-top: -400px;
        }
    }
}
.portfolio-wrapper {
    width: 100%;
    text-align: center;
    background: #f3f3f3;

    .portfolio-navigation {
        margin-top: 80px;

        li {
            position: relative;
            display: inline-block;
            font-size: 16px;
            
            &:not(:first-child) {
                margin-left: 40px;
            }
            &:hover {
                cursor: pointer;
                
                &::before {
                    position: absolute;
                    width: 38px;
                    height: 1px;
                    margin: 40px 0 0 50%;
                    background: #19bd9a;
                    transform: translateX(-50%);
                    content: "";
                }
            }
            a {
                text-decoration: none;
                color: #464646;
            }
            .router-link-exact-active.router-link-active::before {
                    position: absolute;
                    width: 38px;
                    height: 1px;
                    margin: 40px 0 0 50%;
                    background: #19bd9a;
                    transform: translateX(-50%);
                    content: "";
                }  
        }
    }
    .portfolio-mobile-navigation {
        display: none;
        margin-top: 20px;
        
        .menu-icon {
            margin-left: 40px;
            
            .menu-line {
                background: #333b46;
            }
        }
        .mobile-menu {
            a {
                font-size: 20px;
                color: #333b46;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
    .content {
        margin: 60px 130px 0 130px;
        padding-bottom: 100px;
        
        .portfolio {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(16, 60px);
            grid-gap: 10px;
            grid-template-areas: 
                "block1 block2 block3 block4"
                "block1 block2 block3 block4"
                "block1 block2 block3 block4"
                "block1 block2 block3 block4"
                "block1 block6 block3 block4"
                "block1 block6 block7 block4"
                "block5 block6 block7 block8"
                "block5 block6 block7 block8"
                "block5 block6 block7 block8"
                "block5 block6 block7 block8"
                "block5 block10 block7 block12"
                "block5 block10 block11 block12"
                "block9 block10 block11 block12"
                "block9 block10 block11 block12"
                "block9 block10 block11 block12"
                "block9 block10 block11 block12"
               ;
 
            .portfolio-element {
                position: relative;
                .classes > .flex-center;
                background: gainsboro;
                overflow: hidden;

                &:nth-child(1){
                    grid-area: block1;
                }
                &:nth-child(2){
                    grid-area: block2;
                }
                &:nth-child(3){
                    grid-area: block3;
                }
                &:nth-child(4){
                    grid-area: block4;
                }
                &:nth-child(5){
                    grid-area: block5;
                }
                &:nth-child(6){
                    grid-area: block6;
                }
                &:nth-child(7){
                    grid-area: block7;
                }
                &:nth-child(8){
                    grid-area: block8;
                }
                &:nth-child(9){
                    grid-area: block9;
                }
                &:nth-child(10){
                    grid-area: block10;
                }
                &:nth-child(11){
                    grid-area: block11;
                }
                &:nth-child(12){
                    grid-area: block12;
                }
                .element {
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .active {
                        position: absolute;
                        top: 0;
                        left: 0;
                        .classes > .flex-center;
                        width: 100%;
                        height: 100%;
                        color: #ffffff;
                        background: rgba(0,0,0, 0.3);
                        cursor: pointer;
                        -webkit-animation: fadeIn 0.3s;
                        animation: fadeIn 0.3s;
                    }  
                }
                
              @-webkit-keyframes fadeIn {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
              @keyframes fadeIn {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
              .none {
                display: none;
              }
            }
        }
        .component {
            background: #ffffff;
            h3 {
                padding: 110px 0; 
            }
        }
        .start-progect-container {
            margin-top: 40px;
            padding-bottom: 57px;
            background-image: url(../assets/images/startprogectbackground.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
            .text {
                max-width: 480px;
                margin: auto;
                padding-top: 45px;
                color: #ffffff;
            }
            .button {
                margin: 30px auto 0 auto;
                color: #ffffff;
                
                .button-template();
            }
        }
    }
    .contact-us-block {
        display: none;
        padding-bottom: 55px;
        color: #ffffff;
        background-image: url(../assets/images/contactbackground.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        .text {
            margin-top: 50px;
        }
        .contact-us-button {
            .button-template();
            margin: 28px auto 0 auto;
        }
    }
}
.contacts {
    text-align: center;
    background: #f3f3f3;
    
    h3 {
        padding-top: 80px;
    }
    .contact-details-wrapper {
        .classes > .flex-center;
        flex-direction: row;
        margin-top: 82px;
        
            .contact-details-item {
                line-height: 20px;
                padding-bottom: 30px;
                background: #ffffff;
                
                &:not(:first-child){
                    margin-left: 40px;
                }
                .e-mail-icon {
                    background-image: url(../assets/images/emailbackground.jpg);
                }
                .localoio-icon {
                    background-image: url(../assets/images/locationbackground.jpg);
                }
                .phone-icon {
                    background-image: url(../assets/images/phonebackground.jpg);
                }
                .icon {
                    .classes > .flex-center;
                    width: 287px;
                    height: 145px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                }
                .headline {
                    margin: 30px 0 25px;
                    font-size: 16px;
                    color: #464646; 
                }
            }
        }
    .form {
        margin-top: 100px;
        background: #ffffff;
        
        .contact-form-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 2fr);
            grid-auto-rows: 40px 188px 53px;
            grid-column-gap: 40px;
            grid-row-gap: 30px;
            grid-template-areas: 
                "name email subject"
                "thistext thistext thistext"
                "thisbutton thisbutton thisbutton";
            margin: 0 214px 0 214px;
            padding: 80px 0 130px;
 
            .contact-form-item {
                &:nth-child(1){
                    grid-area: name;
                }
                &:nth-child(2){
                    grid-area: email;
                }
                &:nth-child(3){
                    grid-area: subject;
                }
                &:nth-child(4){
                    grid-area: thistext;
                }
                &:nth-child(5){
                    grid-area: thisbutton;
                }   
            }
            input {
                padding-left: 20px;
            }
            .submit-button {
                .classes > .flex-center;
                font-size: 16px;
                color: #ffffff;
                background: #19bd9a;
                
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .bacground-line {
        width: 100%;
        height: 2px;
        background: rgba(243, 243, 243, 1);
    }
}
.read-more {
    padding-bottom: 100px;
    background: #f3f3f3;
    .content-wrapper {
        padding: 0 130px;
        text-align: center;
        box-sizing: border-box;
        
        p {
            padding-top: 38px;
            text-align: justify;
        }
    }
}
.not-found-page {
    width: 100%;
    text-align: center;
    
    h1 {
        padding: 120px 0;
    }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
